#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 30px;
  width: 75%;
  min-width: 300px;
}
* {
  box-sizing: border-box;
  margin-top: 18px;
  margin-bottom: 10px;
  font-family: Raleway;
}
.tab{
	display:flex;
	flex-wrap:wrap;
}
.field{
	width:33%;
}
.field input[type="text"],input[type="date"],select{
	width:90%;
}
.place{
	 padding-left:10%;
}
.place input[type="text"],.pincode input[type="text"],.mobile input[type="text"]{
    width: 250%;
}
#select,#radio{
	width:50%;
}
body {
  background-color: #f1f1f1;
  color:rgba(84, 109, 229,1.0);
  font-weight:bold;
}
h1{
  text-align: center;
  color: rgba(142, 68, 173,1.0);
}
h2{
	color:#00b894;
	text-align: center;
}
input {
  padding: 10px;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  margin-right:1em;
}

#employee{
	padding:1%;
	  font-size: 17px;
}
#status{
	padding:1%;
	font-size: 17px;
}
textarea{
    font-size: 17px;
}
button:hover {
  opacity: 0.8;
}
button {
  background-color: rgba(232, 67, 147,1.0);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

#prevBtn {
  background-color:rgba(253, 121, 168,0.6);
}
input.invalid ,.invalid{
  background-color: #ffdddd;
}
#header{
	display:flex;
	flex-wrap:wrap;
}
#pass{
   box-sizing: border-box;
    width: 150px;
    height:200px;
    border: 2px solid blue;
}
#photo{
	margin-top:0px;
}
.title{
	width:55%;
}
.logo{
	width:20%;
}
 .current .field{
	width:50%;
}
#psurban{
	margin-top:15%;
}
input[type="file"]{
	width:130px;
	margin-top:-10%;
	margin-left:5%;
}
.current, .place{
	width:50%;
	margin-right:0px;
}
.address{
	display:flex;
	flex-wrap:wrap;
	width:100%;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2.5px;
    border-color:#ffda79;
    color:#ffda79;
    background-color:#ffda79;
} 
@media screen and (max-width : 320px) {
.logo{
	width:100%;
	padding-left:15%;
    padding-right:15%;
}
.title{
	width:100%;
}
#pass{
	margin-left:15%;
    margin-right:15%;
}
#salutation,#fname,#lname,#dob,#jdate,#role,#rhead,#employee,#bank,.current,textarea,.pincode,#pincode,#ppincode,#status{
	width:100%;
}
}
@media screen and (min-width:321px ) and (max-width: 680px) {
.head{
	width:100%;
    margin-left:0px;
    margin-right:0px;
}
.logo{
   width:55%; 
   margin-left:auto;
   margin-right:auto;
}
#mname{
	width:100%;
}
#photo{
	padding-left:0px;
}
.title,#email{
	width:100%;
}
#pass{
	margin-left:25%;
    margin-right:25%;
    
}
#salutation,#fname,#lname,#dob,#jdate,#role,#rhead,#employee,#bank,.current,textarea,.pincode,#pincode,#bgroup,#ppincode{
	width:100%;
}
	}